<% provide :title, "HOME" %>
<h1>Speeches Recognition</h1>
<main>
<div>
<div id="record">Start Record</div>
<div class="bg" id="amplitude"><span>1</span></div>
<div class="bg"><span>-1</span></div>
<p>spectrum</p>
<div class="bg" id="spectrum"><span>8khz</span></div>
</div>
<div id='music'>
<p><textarea id = "pathvideo" rows="6" cols="50"></textarea>
<div id="video">

 </div>
</div>
</main>